
body{
  background-color: #E5E4E2;
  width:80%;
  height: 100%;
  margin: 100px;
}
.tableclass{
background-color: white !important;
justify-content: center;
border: 1px;
width: 100%;
overflow-x: scroll;
}
.tabclass{
  border: 1px solid #D3D3D3;
}
.tablecol{
  border-bottom: 1px solid #D3D3D3;
  padding: 14px 18px;
  font-size: small;
}

.tabhead{
  text-align: left;
  color: #899499;
  font-weight: normal;
  margin-left: 5px;
  padding: 8px 12px;
  cursor: pointer;
}
.tabheadrow{
  border-bottom: 1px solid #D3D3D3;
}

.img{
  height: 15px;
  margin-left: 15px;
}
